{% extends "base.html" %}
{% block body_contents %}

     <div class = "content1">


      <div class = "content2">
        <h1> Part 1 Analysis</h1>
          <p> For these 13 graphs we have observed that there are certain trends. For each attribute
          </p>

            <div class="grid">
              <a href="/fig/1"><div class="module">Chest Pain Type</div></a>
              <a href="/fig/2"><div class="module">Resting Blood Pressure</div></a>
               <a href="/fig/3"><div class="module">Serum Cholesterol</div></a>
               <a href="/fig/4"><div class="module">Fasting Blood Sugar</div></a>
               <a href="/fig/5"><div class="module"> Electrocardiographic Results</div></a>
               <a href="/fig/6"><div class="module">Maximum Heart Rate Achieved</div></a>
               <a href="/fig/7"><div class="module">Exercised Induced Angina</div></a>
               <a href="/fig/8"><div class="module">ST Depresssion</div></a>
               <a href="/fig/9"><div class="module">Slope of peak exercise ST Segment</div></a>
               <a href="/fig/10"><div class="module">Major Vessels</div></a>
                <a href="/fig/11"><div class="module">Thalassemia</div></a>
                <a href="/fig/viewall"><div class="module">View all!</div></a>
            </div>

        <p>
          
        </p>
      </div>

{% endblock %}